:root{
    --primary-color: rgb(20 107 85);
    --secondary-color: rgb(75 99 90);
    --secondary-color-text: rgb(255 255 255);
    --accent1-color: rgb(206 233 221);
    --accent1-color-text: rgb(52 76 67);
    --accent2-color: rgb(64 99 118);
    --text-color: rgb(23 29 26);
    --heading-font: "Roboto", sans-serif;
    --heading-font-weight: 600;
    --body-font: "Roboto Serif", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-weight: var(--font-weight);
    font-size: 16px;
    color: var(--text-color);
}

header, main, footer{
    width: 52em;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    color: var(--primary-color)
}

h2{
    width: 100%;
    padding: .25em;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--accent1-color-text);
}


nav, p, section, article{
    margin: 1em;
    padding: .5em;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 6em;
    height: auto;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    gap: 2em;
}

nav ul li a{
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*Class Selectors*/

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 1em;
    width: 100%;
    padding: .25em;
    text-align: center;
    opacity: 70%;
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
}

.hero article{
    position: absolute;
    bottom:0;
    width: fit-content;
    padding: .25em;
    text-align: center;
    opacity: 70%;
    background-color: var(--accent2-color);
    color: var(--secondary-color-text);
    text-align: left;
}

.hero article img{
    float: right;
    width: 8em;
    height: auto;
    margin: .25em;
}

.history{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.history img{
    width: 100%;
    height: auto;
}

.history p{
    margin: 0;
    padding: 1em;
    width: 100%;
}

.adventure
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    max-width: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.adventure figure{
    width: 100%;
    height: auto;
    padding: 1em;
}

.adventure figure img{
    width: 100%;
    height: auto;
}

.adventure figcaption{
    text-align: center;
}
.contact-info{
    width:100%;
    text-align: center;
}

.contact-info p{
    margin: 0;
    padding: .25em;
    font-size: 1.25em;
    font-weight: 700;
}

.map-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1em;
}

.map iframe{
    width: 100%;
}

.contact-form{
    display: grid;
    width: 100%;
    gap: 0;
}

.contact-form .text-field{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.contact-form .text-field input{
    width:100%;
    height: 3em;
    margin: 0;
}

.contact-form .radio{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.contact-form .radio .radio-options{
    display: grid;
    gap: 1em;
}

.contact-form .text-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .25em;
}

.contact-form .text-area textarea{
    width: 100%;
}

.contact-form .checkbox{
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    gap: .25em;
}

.contact-form button{
    background-color: var(--primary-color);
    color: var(--secondary-color-text);
    border-radius: 12px;
    border: none;
    font: var(--body-font);
}

.employees{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}