:root{
    --color-primary: rgb(20 107 85);
    --color-secondary: rgb(75 99 90);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(206 233 221);
    --color-on-secondary-container: rgb(52 76 67);
    --color-tertiary: rgb(64 99 118);
    --color-on-surface: rgb(23 29 26);
    --font-header: "Roboto", sans-serif;
    --font-header-weight: 600;
    --font-body: "Roboto Serif", sans-serif;
    --font-body-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    font-weight: var(--font-weight);
    font-size: 16px;
    color: var(--color-on-surface);
}

header, main, footer{
    width: 52em;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    color: var(--color-primary)
}

h2{
    width: 100%;
    padding: .25em;
    text-align: center;
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);
}


nav, p, section, article{
    margin: 1em;
    padding: .5em;
}

/*Class Selectors*/

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 1em;
    width: 100%;
    padding: .25em;
    text-align: center;
    opacity: 70%;
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
}

.hero article{
    position: absolute;
    bottom:0;
    width: fit-content;
    padding: .25em;
    text-align: center;
    opacity: 70%;
    background-color: var(--color-tertiary);
    color: var(--color-on-secondary);
    text-align: left;
}

.hero article img{
    float: right;
    width: 8em;
    height: auto;
    margin: .25em;
}
