:root{
    --primary-color: rgb(20 107 85);
    --secondary-color: rgb(75 99 90);
    --secondary-color-text: rgb(255 255 255);
    --accent1-color: rgb(206 233 221);
    --accent1-color-text: rgb(52 76 67);
    --accent2-color: rgb(64 99 118);
    --text-color: rgb(23 29 26);
    --heading-font: "Roboto", sans-serif;
    --heading-font-weight: 600;
    --body-font: "Roboto Serif", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-weight: var(--font-weight);
    font-size: 16px;
    color: var(--text-color);
}

header, main, footer{
    width: 52em;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    color: var(--primary-color)
}

h2{
    width: 100%;
    padding: .25em;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--accent1-color-text);
}


nav, p, section, article{
    margin: 1em;
    padding: .5em;
}

/*Class Selectors*/

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 1em;
    width: 100%;
    padding: .25em;
    text-align: center;
    opacity: 70%;
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
}

.hero article{
    position: absolute;
    bottom:0;
    width: fit-content;
    padding: .25em;
    text-align: center;
    opacity: 70%;
    background-color: var(--accent2-color);
    color: var(--secondary-color-text);
    text-align: left;
}

.hero article img{
    float: right;
    width: 8em;
    height: auto;
    margin: .25em;
}
