:root{
    --md-sys-color-primary: rgb(20 107 85);
    --md-sys-color-surface-tint: rgb(20 107 85);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(163 242 214);
    --md-sys-color-on-primary-container: rgb(0 81 63);
    --md-sys-color-secondary: rgb(75 99 90);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(206 233 221);
    --md-sys-color-on-secondary-container: rgb(52 76 67);
    --md-sys-color-tertiary: rgb(64 99 118);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(195 232 254);
    --md-sys-color-on-tertiary-container: rgb(39 75 93);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(245 251 246);
    --md-sys-color-on-background: rgb(23 29 26);
    --md-sys-color-surface: rgb(245 251 246);
    --md-sys-color-on-surface: rgb(23 29 26);
    --md-sys-color-surface-variant: rgb(219 229 223);
    --md-sys-color-on-surface-variant: rgb(63 73 69);
    --md-sys-color-outline: rgb(112 121 116);
    --md-sys-color-outline-variant: rgb(191 201 195);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 50 47);
    --md-sys-color-inverse-on-surface: rgb(236 242 238);
    --md-sys-color-inverse-primary: rgb(136 214 187);
    --md-sys-color-primary-fixed: rgb(163 242 214);
    --md-sys-color-on-primary-fixed: rgb(0 33 24);
    --md-sys-color-primary-fixed-dim: rgb(136 214 187);
    --md-sys-color-on-primary-fixed-variant: rgb(0 81 63);
    --md-sys-color-secondary-fixed: rgb(206 233 221);
    --md-sys-color-on-secondary-fixed: rgb(8 32 24);
    --md-sys-color-secondary-fixed-dim: rgb(178 204 193);
    --md-sys-color-on-secondary-fixed-variant: rgb(52 76 67);
    --md-sys-color-tertiary-fixed: rgb(195 232 254);
    --md-sys-color-on-tertiary-fixed: rgb(0 30 44);
    --md-sys-color-tertiary-fixed-dim: rgb(168 203 226);
    --md-sys-color-on-tertiary-fixed-variant: rgb(39 75 93);
    --md-sys-color-surface-dim: rgb(213 219 215);
    --md-sys-color-surface-bright: rgb(245 251 246);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(239 245 240);
    --md-sys-color-surface-container: rgb(233 239 235);
    --md-sys-color-surface-container-high: rgb(228 234 229);
    --md-sys-color-surface-container-highest: rgb(222 228 223);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background-color: var(--md-sys-color-surface);
}

main{
    max-width: 60em;
    margin: 1em;
    padding: 1em;
}

main img {
    width: 15em;
    height: auto;
    box-shadow: 0 0 1em var(--md-sys-color-shadow);
    background-color: var(--md-sys-color-surface);
    border: 1px solid var(--md-sys-color-outline);
    padding: 1em;
    float: right;
}

main p{
    margin-top: .5em;
    margin-bottom: .5em;
}

aside {
    width: 30em;
    text-align: center;
}

aside img{
    width: 300px;
    height: auto;
}

aside h2{
    position: absolute;
    left: 150px;
    color: var(--md-sys-color-on-surface)
}

nav {
    background-color: var(--md-sys-color-secondary-container);
    padding: 0;
    display: flex;
}

nav a {
    color: var(--md-sys-color-on-secondary-container);
    display: block;
    padding: 1.25em;
}

h1 {
    color: var(--md-sys-color-tertiary);
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid var(--md-sys-color-outline);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1em;
    padding: 1em;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    border: 1px solid var(--md-sys-color-outline);
    max-width: max-content;
}