.callout {
	max-width: 100vw;
    margin: .75em;
    border: none;
    padding: 1.5em;
    background-color: #224477;
    color: white;
    font-size: 16px;
}

.callout img {
	position: absolute;
    margin: .75em;
    padding: .25em;
    border: 2px solid black;
    background-color: #BBBBBB;
    width: 16em;
    height: 16em;
}

blockquote {
	
}

cite {
	
}