.callout {
	max-width: 100vw;
    margin: .75em;
    border: none;
    padding: 1.5em;
    background-color: #224477;
    color: white;
    font-size: 16px;
}

.callout img {
	float: right;
    margin: .75em;
    padding: .25em;
    border: 1px solid black;
    background-color: #BBBBBB;
    width: 16em;
    height: auto;
    
}

blockquote {
	margin: .75em;
    font-size: 1.5em;
}

cite {
	display: block;
    border-top: 2px dotted #BBBBBB;
    text-align: right;
    padding-top: .75em;
    font-size: smaller;
}